<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Recruiter - Home</title>
</head>
<body>
<div align="center">
	<div class="message" th:if="${session.success != null || session.failure != null}">
            <h3 style="color: green;" th:text="${session.success}"></h3>
            <h3 style="color:red" th:text="${session.failure}"></h3>
            <th:block th:text="${@messageRemover.remove()}"></th:block>
     </div>
     
     <h1>Recruiter Home Page</h1>
     <a href="/logout"><button>Logout</button></a>
 </div>    
    
</body>
</html>